.cell_center {
    text-align: center;
}

.dataTables_filter label>input {
    border-color: rgb(202, 149, 69);
}

.dropdown-menu.open {
    border-color: rgb(40, 172, 161);
}

textarea.form-control {
    border: 1px solid rgb(40, 172, 161);
}

.checkbox label::before {
    border-color: #ff7676;
}

.has-error .checkbox,
.has-error .checkbox-inline,
.has-error .control-label,
.has-error .help-block,
.has-error .radio,
.has-error .radio-inline,
.has-error.checkbox label,
.has-error.checkbox-inline label,
.has-error.radio label,
.has-error.radio-inline label {
    color: #f30c07;
}

.help-block.error-help-block {
    color: #f30c07;
}

.bootstrap-select>.dropdown-toggle {
    height: 38px;
}

.datepicker {
    width: fit-content;
}

.uppercase {
    text-transform: uppercase;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    text-transform: none;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    text-transform: none;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    text-transform: none;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    text-transform: none;
}

::placeholder {
    /* Recent browsers */
    text-transform: none;
}

span.span_predio {
    display: block;
    font-size: 170%;
    font-weight: bold;
    color: rgb(185, 210, 9);
}
